@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden bg-gray-100;

  font-family: "Poppins", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply dark:bg-slate-800;
}
